*{
    margin:0;
    padding: 0;
}

#pokemon_box {
    position: relative;
    display: block;
    background-color: bisque;
    border: 1px solid black;
    width: 200px;
    height: 200px;a
    padding: 20px;
    margin: 20px;

}